<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snack.mapper.MedicineTypeMapper" >
  <resultMap id="BaseResultMap" type="com.snack.model.MedicineType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="TypeWithSnackList" type="com.snack.model.MedicineType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <collection property="snackinfos" column="s_type" ofType="com.snack.model.Snackinfo">
    	<id column="s_id" property="sId" jdbcType="INTEGER"></id>
    	<result column="s_batch" property="sBatch" jdbcType="VARCHAR" />
	    <result column="s_name" property="sName" jdbcType="VARCHAR" />
	    <result column="s_price" property="sPrice" jdbcType="DOUBLE" />
	    <result column="s_discount" property="sDiscount" jdbcType="VARCHAR" />
	    <result column="s_pictureUrl" property="sPictureurl" jdbcType="VARCHAR" />
	    <result column="s_brand" property="sBrand" jdbcType="VARCHAR" />
	    <result column="s_place" property="sPlace" jdbcType="VARCHAR" />
	    <result column="s_Imported" property="sImported" jdbcType="INTEGER" />
	    <result column="s_score" property="sScore" jdbcType="INTEGER" />
	    <result column="s_pDate" property="sPdate" jdbcType="DATE" />
	    <result column="s_qDate" property="sQdate" jdbcType="VARCHAR" />
	    <result column="state" property="state" jdbcType="INTEGER" />
	    <result column="s_createDate" property="sCreatedate" jdbcType="DATE" />
	    <result column="s_dese" property="sDese" jdbcType="VARCHAR" />
	    <result column="s_number" property="sNumber" jdbcType="INTEGER" />
	    <result column="s_type" property="sType" jdbcType="INTEGER" />
    </collection>
  </resultMap>
  <select id="getAllTypes" resultMap="BaseResultMap" parameterType="com.snack.model.MedicineType">
    select * from t_medicine_type where is_delete=0
  </select>
  <select id="getTypeById" resultMap="BaseResultMap" parameterType="int">
  	select * from t_medicine_type where is_delete=0 and id=#{id}
  </select>
  <select id="getTypeWithSnackById" resultMap="TypeWithSnackList" parameterType="int">
  	SELECT ts.s_batch,ts.s_brand,ts.s_createDate,ts.s_dese,ts.s_discount,ts.s_id,ts.s_Imported,ts.s_name,ts.s_number,ts.s_pDate,ts.s_pictureUrl,ts.s_place,ts.s_price,ts.s_qDate,ts.s_score,ts.s_type,ts.state,tmt.id,tmt.is_delete,tmt.type_name
    from t_snackinfo ts right join t_medicine_type tmt on ts.s_type=tmt.id
  	where tmt.is_delete=0 and id=#{id}
  </select>
  <update id="deleteType" parameterType="int">
  	update t_medicine_type set is_delete=1 where id=#{id}
  </update>
  <insert id="addType">
  	insert into t_medicine_type(type_name,is_delete) values(#{typeName},0)
  </insert>
  <insert id="updateType">
  	update t_medicine_type set type_name=#{typeName} where id=#{id}
  </insert>
</mapper>